NODE_ENV=development
APP_PORT=3000

DB_HOST=localhost        
DB_PORT=5432
DB_NAME=nestjs_db
DB_USER=nestjs_user
DB_PASSWORD=change_me_strong_password

JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=3600s
